@use "./variables" as v;

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  background: v.$grandientWhite;
  font-family: v.$principalFont;
  color: v.$grey;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
} 