@forward "./base";
@forward "./welcome";
@forward "./header";
@forward "./threads";
@forward "./conversation";

.content{
  display: flex;
}

.container-conversation {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container-conversation__content {
  max-width: 1000px;
  margin: 0 20px 0 20px;
}