@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1 {
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 2.4rem;
}

.form-login {
  width: 100%;
}

.form-login__input {
  background-color: #F5F5F7;
  border: 1px solid #E9E9E9;
  border-radius: 7px;
  height: 46px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.button {
  width: 100%;
  border-radius: 7px;
  height: 46px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.button--primary {
  background: linear-gradient(135deg, rgb(215, 46, 134) 0%, rgb(55, 48, 137) 29%, rgb(55, 48, 137) 76%, rgb(0, 212, 255) 100%);
  color: #FFFFFF;
}

.button--google {
  background: #F5F5F7;
  border: 1px solid #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}

.form-login__interactive-text {
  cursor: pointer;
  text-align: center;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, rgba(215, 46, 134, 0.3) 0%, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 76%, rgba(0, 212, 255, 0.3) 100%);
  font-family: "Poppins", sans-serif;
  color: #474646;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
}

.container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  width: 365px;
  background-color: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
}

.container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.container-login__logo {
  height: 70px;
}

.container-login__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-login__terms {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.header {
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.header__logo {
  height: 85px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__text {
  font-size: 2rem;
  background: linear-gradient(135deg, rgb(215, 46, 134) 0%, rgb(55, 48, 137) 29%, rgb(55, 48, 137) 76%, rgb(0, 212, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button--img {
  color: #D72E86;
  color: #000;
}

.container-thread {
  background-color: #F5F5F7;
  border-right: 1px solid #E9E9E9;
  width: 400px;
  padding: 20px;
  height: calc(100vh - 190px);
}

.container-thread__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-thread__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
}

.container-thread__item:hover {
  color: #E9E9E9;
}

.container-thread__button-delete-thread {
  background-color: transparent;
  border: none;
}

.content {
  display: flex;
}

.container-conversation {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container-conversation__content {
  max-width: 1000px;
  margin: 0 20px 0 20px;
}
/*# sourceMappingURL=app.css.map */