@use '../base/variables' as v;

.container-thread {
  background-color: v.$lightGreyPlus;
  border-right: 1px solid v.$lightGrey;
  width: 400px;
  padding: 20px;
  height: calc(100vh - 190px);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.2s ease;
    margin: 20px 0;
    
    // &:hover {
    //   color: v.$lighBlue;
    // }
  }

  &__button-delete-thread {
    background-color: transparent;
    border: none;

    &--icon {
      height: 15px;
      transition: all 0.3s ease;
    }

    &--icon:hover {
      transform: translateY(-2px);
    }
  }
  
  &__new-thread {
    font-size: 1.6rem;
    line-height: 0;
    padding-top: 10px;
  }
}

.new-thread__container-form {
  display: flex;
  border: 1px solid v.$white;
  border-radius: 5px;
  padding: 0.7rem;
  height: 35px;
}

.form-content__input {
  border: none;
  background: transparent;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.6rem;
}

.button--create-thread {
  color: v.$white;
  background-color: rgba(v.$grey, 0.5);
  width: 150px;
  height: 100%;
}

