@use "../base/variables" as v;

.header {
  width: 100%;
  height: 150px;
  background-color: v.$white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  position: relative;

  &__logo {
    height: 85px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 2.0rem;
    background: v.$grandientBlue; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }
  
  &__button {
    border: none;
    background-color: transparent;

    & img {
      height: 35px;
      transition: all 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}




